
			
#menu{
	width: 100%;
	height: 100%;
	margin: none;
}
	
#menu ul{
	
	margin: none;
	background: #142F43;
}
	
#menu li{
	display: inline-block;
		text-align: center;

	padding: none;
	margin: none;
}
	
#menu li a, #menu li span{
	display: inline-block;
	padding: 0em 5em;
	text-decoration: none;
	font-weight: 800;
	text-transform: uppercase;
	line-height: 70px;
}
	
#menu li a{
		
	color: #FFF;
}
	
#menu li:hover a, #menu li span{
	background: #FFF;
	color: #0074D9;
	border-left: 2px solid #0074D9;
	text-decoration: none;
}
#grad2 {
	height: 50px;
       color:white;
       background:#142F43;
	   }